<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('partials/head'); %>
    
      
    </style>
  </head>
  <body style="background-color: rgb(158, 124, 10)">

   <%- include('partials/navbar'); %>

   <div class="jumbotron">   
 <div class="container p-3 my-3 bg-primary text-white"><h1>Numero de casos de COVID19 por pais. <img src="/images/coronavirus.png"width="70px" height="70px" ></h1></div>
     <hr class="my-4">
     
     
     <div align="center">
        <iframe width="1200" height="600" src="https://app.developer.here.com/coronavirus/" frameborder="0"></iframe>
    </div>
    


  </div>
   
   <%- include('partials/script'); %>
   <foote>
     <%- include('partials/footer'); %>
   </foote>
 
  </body>
  

</html>