!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('partials/head'); %>
    
      
    </style>
  </head>
  <body style="background-color: rgb(61, 11, 28)">

   <%- include('partials/navbar'); %>

   <div class="jumbotron">   
 <div class="container p-3 my-3 bg-primary text-white"><h1>Descarga tu compra </h1></div>
     <hr class="my-4">
     <a href="/images/v2.jpg" download="" class="btn btn-dark"> 
        Descargar
        </a>
     
     <div align="center">
       
    </div>
    


  </div>
   
   <%- include('partials/script'); %>
   <foote>
     <%- include('partials/footer'); %>
   </foote>
 
  </body>
  