<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('partials/head'); %>
    
      
    </style>
  </head>
  <body style="background-color:rgba(104, 15, 49, 0.918);">

   <%- include('partials/navbar'); %>

   <div class="jumbotron">   
 <div class="container p-3 my-3 bg-dark text-white"><h1>Mi lista de Musica <img src="/images/jugar.png"width="60px" height="60px" ></h1></div>  
     <hr class="my-4">
     
    
     <div align="center">
      
      <iframe scrolling="no" frameborder="0" allowTransparency="true" src="https://www.deezer.com/plugins/player?format=classic&autoplay=false&playlist=true&width=700&height=350&color=EF5466&layout=dark&size=medium&type=playlist&id=5541054942&app_id=1" width="1130" height="850"></iframe>
     
    </div>
    


  </div>
   
   <%- include('partials/script'); %>
   <foote>
     <%- include('partials/footer'); %>
   </foote>
 
  </body>
  

</html>