<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('partials/head'); %>
  </head>
  <body style="background-color:rgba(190, 17, 17, 0.918);">
   
   <%- include('partials/navbar'); %>

   <div class="jumbotron">  
    
     <h1 class="display-4">Sigueme en pinterest</h1>
     <p class="lead">Comienza la aventura</p>
     
    
     
    
    <a data-pin-do="embedUser" data-pin-lang="es" data-pin-board-width="1250" data-pin-scale-height="1100" data-pin-scale-width="60" href="https://www.pinterest.com.mx/adrian4hvillanueva/amazing-spiderman/"></a>
   </div>  
  
   
   <script src="//assets.pinterest.com/js/pinit.js"></script>
   <%- include('partials/script'); %>
   <foote>
     <%- include('partials/footer'); %>
   </foote>
  
  </body>
</html>