<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('partials/head'); %>
  </head>
  <body <div style="background-image: url('images/fondo2.jpg');"></div>>
   
   <%- include('partials/navbar'); %>

   <div class="jumbotron">  
    
     <h1 class="display-4">Mira mi pinterest y sigueme</h1>
     <p class="lead">Comienza la aventura</p>
     
    
     
    
     <a data-pin-do="embedUser" data-pin-lang="es" data-pin-board-width="1000" data-pin-scale-height="800" data-pin-scale-width="80" href="https://www.pinterest.com.mx/adrian4hvillanueva/amazing-spiderman/"></a>
   </div>  
  
   
   <script src="//assets.pinterest.com/js/pinit.js"></script>
   <%- include('partials/script'); %>
   <foote>
     <%- include('partials/footer'); %>
   </foote>
  
  </body>
</html>