
<html lang="es">
  <head>
    <%- include('partials/head'); %>
    
      
    </style>
  </head>
  <body <div style="background-image: url('images/fondo1.jpg');"></div>>

   <%- include('partials/navbar'); %>

   <div class="jumbotron">   
 <div class="container p-3 my-3 bg-dark text-white"><h1>Compra software por solo $39.99 <img src="/images/laptop.png"width="70px" height="70px" ></h1></div>  
     <hr class="my-4">
     
     
    <div class="row" >
        <div class="col-md-4 mx-auto">
        <h2>tarjeta de prueba 4242424242424242</h2>
           
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="card float-left" >
                    <img src="/images/v2.jpg" alt="sofware oficce" class="card-img-top">
                    <div class="card-body">
        
                        <p>
                           
                            <h2>$39.99 </h2>
                            Microsoft Office es una suite ofimática que abarca el mercado completo en Internet e interrelaciona aplicaciones de escritorio, servidores y servicios para los sistemas operativos Microsoft Windows, Mac OS X, iOS y Android. La última versión de la suite ofimática es el Microsoft Office 2019. 
                        </p>
                        <div class="card-footer">
                            <div class="card-footer">
                                <form action="/your-server-side-code" method="POST">
                                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
         
                                    data-key="pk_test_51HhmaHLii8i4qchxZWPzYuUnbk6QUFp02qszRopxIxyBKCWCwQ3dynsrnMTNq1uwYT0zSlP0IbCTlAyDBRL0ohvZ005G7VHYfm" data-amount="3999"
                                     data-name="Tienda Adrian"
                                     data-description="Oficce 2019"
                                     data-image="/images/a1.png"
                                     data-locale="auto">
                                    </script>
                                    <script>
                                        document.getElementsByClassName('stripe-button-el')[0].style.display='none';
                                    </script>
                                    <button class="btn btn-dark btn-block">Comprar
                                                        <img src="/images/carro.png"width="23px" height="23px">
                                                    </button> 
                                </form>
         
                            </div>
                         
                    </div>
                </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card float-left" >
                    <img src="/images/v3.jpg" alt="sofware oficce" class="card-img-top">
                    <div class="card-body">
        
                        <p>
                           
                            <h2>$39.99 </h2>
                            Avast es un software antivirus y suite de seguridad de la firma checa Avast Software, ​desarrollada a principios de la década de 1990.​ Según el informe OPSWAT, con una cuota del mercado de 11,3%, es el segundo software antivirus gratuito más utilizado en el mundo desde abril de 2020.​​​
                        </p>
                        <div class="card-footer">
                            <div class="card-footer">
                                <form action="/your-server-side-code" method="POST">
                                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
         
                                    data-key="pk_test_51HhmaHLii8i4qchxZWPzYuUnbk6QUFp02qszRopxIxyBKCWCwQ3dynsrnMTNq1uwYT0zSlP0IbCTlAyDBRL0ohvZ005G7VHYfm" data-amount="3999"
                                     data-name="Tienda Adrian"
                                     data-description="Oficce 2019"
                                     data-image="/images/a1.png"
                                     data-locale="auto">
                                    </script>
                                    <script>
                                        document.getElementsByClassName('stripe-button-el')[0].style.display='none';
                                    </script>
                                    
                                </form>
         
                            </div>
                         
                    </div>
                </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card float-left" >
                    <img src="/images/v4.jpg" alt="sofware oficce" class="card-img-top">
                    <div class="card-body">
        
                        <p>
                           
                            <h2>$39.99 </h2>
                            Adobe Photoshop es un editor de fotografías desarrollado por Adobe Systems Incorporated. Usado principalmente para el retoque de fotografías y gráficos, su nombre en español significa "taller de fotos".. 
                        </p>
                        <div class="card-footer">
                            <div class="card-footer">
                                <form action="/your-server-side-code" method="POST">
                                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
         
                                    data-key="pk_test_51HhmaHLii8i4qchxZWPzYuUnbk6QUFp02qszRopxIxyBKCWCwQ3dynsrnMTNq1uwYT0zSlP0IbCTlAyDBRL0ohvZ005G7VHYfm" data-amount="3999"
                                     data-name="Tienda Adrian"
                                     data-description="Photoshop"
                                     data-image="/images/a1.png"
                                     data-locale="auto">
                                    </script>
                                    <script>
                                        document.getElementsByClassName('stripe-button-el')[0].style.display='none';
                                    </script>
                                  
                                </form>
         
                            </div>
                         
                    </div>
                </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
     
</div>

</div>

  </div>
   
   <%- include('partials/script'); %>
   <foote>
     <%- include('partials/footer'); %>
   </foote>
 
  </body>
  

</html>